#banner-component {
  position: fixed;
  background-color: #fff;
  height: 5vh;
  width: 100vw;
  border-bottom: 3px solid #0d59a9;
  z-index: 99999;
}

#banner-component p {
  color: #0d59a9;
  font-size: 1.3em;
  margin: 0;
  line-height: 5vh;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
}