#voter-list-component {
  position: relative;
  background-color: white;
}

#voter-list-component .panel {
  max-height: 10rem;
  overflow: auto;
}

#voter-list-component ul {
  display: block;
  margin-right: 0.5rem;
  padding: 0.1rem 0.4rem 0 0.2rem;
  overflow: hidden;
}

#voter-list-component li {
  padding: 0.2rem;
  border-bottom: 1px solid #bbb;
  height: 1.3rem;
  overflow: hidden;
  width: 30rem;
}

#voter-list-component li .list-name {
  position: relative;
  font-weight: 600;
  float: left;
  margin-right: 1rem;
  font-size: 0.9rem;
}

#voter-list-component li .list-address {
  position: relative;
  float: left;
  margin-right: 1rem;
  font-size: 0.8rem;
  vertical-align: baseline;
  top: 0.05rem;
}

#voter-list-component .button {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.1rem;
  margin-right: 0.4rem;
}

#voter-list-component .scroll-container {
  max-height: 30;
}
